.header-container{
    background-color: aliceblue;
    padding: 0 3rem;
    margin: 1rem 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header a{
    text-decoration: none;
    margin-left: 3rem;
    padding: 1rem;
}
a:hover{
    color: cadetblue;
    background-color: bisque;
}

